// .form-group {
//   margin-bottom: 15px;
  
//   label {
//     font-weight: bold;
//   }
  
//   .form-control {
//     padding: 8px;
//     border-radius: 4px;
//     border: 1px solid #141010;
//   }
// }

// button {
//   padding: 10px 20px;
//   background-color:red;
//   color: rgb(6, 62, 230);
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
  
//   &:hover {
//     background-color: #42ab22;
//   }
// }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  width: 30%;
  margin: 20px auto;
  padding: 40px;
  background-color:lightpink;
  background-image:url(../../assets/Login.jpeg);

  label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }

  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #4caf50;
    }
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

