.form-group {
  margin-bottom: 15px;
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #141010;
  }
}

button {
  padding: 10px 20px;
  background-color:red;
  color: rgb(6, 62, 230);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background-color: #42ab22;
  }
}
