table {
    width: 100%;
    border-collapse: collapse;
    
    th, td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #131311;
    }
    
    th {
      background-color: #f6d4f5;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    tbody tr:nth-child(even) {
      background-color: #e9d87a;
    }
    
    tbody tr:hover {
      background-color: #0a6df7;
    }
    
    td:first-child {
      border-left: 1px solid #ddd;
    }
    
    td:last-child {
      border-right: 1px solid #ddd;
    }
    
    tbody tr:first-child td {
      border-top: 1px solid #ddd;
    }
    
    tbody tr:last-child td {
      border-bottom: 1px solid #ddd;
    }
  }
  