<p>Bloody Sweet!</p>
<ul class="details-list">
    <li>id: {{ detail[0].id }}</li>
    <li>name: {{ detail[0].yourname }}</li>
    <li>email: {{ detail[0].email }}</li>
    <li>gender: {{ detail[0].gender }}</li>
    <li>age: {{ detail[0].age }}</li>
    <li>message: {{ detail[0].message }}</li>
</ul>

<p>The Boss returns</p>
<ul class="details">
    <li>id: {{ detail1[0].id }}</li>
    <li>name: {{ detail1[0].companyname }}</li>
    <li>email: {{ detail1[0].companyemail }}</li>
    <li>message: {{ detail1[0].message }}</li>
</ul>